@charset "utf-8";
/* CSS Document */
body
{
	background-image:url(images/f.jpg);
	margin:0px;
}
.head
{
	font-family:"Trebuchet MS";
	font-size:40px;
	color:rgb(9, 208, 188);
	margin-left:50px;
}
#banner
{
	width:99.5%;
	height:100px;
	border:2px solid #FFF;
	background-color:rgba(0,0,0,0.7);
}
.clg
{
	font-family:"Segoe UI";
	font-size:16px;
	color:hsl(44, 70%, 49%);
}
#wrapper
{
	width:80%;
	border-radius:10px;
	border:2px solid #FFF;
	background-color:rgba(11, 11, 11, 0.741);
}
.SubHead
{
	font-family:"Segoe UI";
	color:rgb(255, 255, 255);
	font-size:20px;
}
.labels
{
	font-family:"Trebuchet MS";
	font-size:16px;
	color:rgb(255, 51, 163);
}
.fields
{
	font-family:"Trebuchet MS";
	font-size:14px;
	color:rgb(51, 180, 255);
	border-radius:5px;
	padding:4px 6px;
	border:1px solid rgb(51, 211, 255);
	background-color:transparent;
}

.table
{
	border-radius:5px;
	padding:0px 5px;
	border:1px solid rgb(241, 38, 180);
	background-color:transparent;
}
a.link:link{font-family:"Segoe UI";font-size:16px;color:#FFF;text-decoration:none;}
a.link:active{font-family:"Segoe UI";font-size:16px;color:#FFF;text-decoration:none;}
a.link:visited{font-family:"Segoe UI";font-size:16px;color:#FFF;text-decoration:none;}
a.link:hover{font-family:"Segoe UI";font-size:16px;color:rgb(245, 22, 22);text-decoration:none;}
.msg
{
	font-family:"Segoe UI";
	color:rgb(66, 220, 210);
	font-size:13px;
}
a.Command:link{text-decoration:none;font-family:"Segoe UI";color:rgb(204, 255, 250);font-size:16px;padding:5px 7px;border:2px solid rgb(140, 0, 255);border-radius:5px;}
a.Command:active{text-decoration:none;font-family:"Segoe UI";color:rgb(204, 255, 250);font-size:16px;padding:5px 7px;border:2px solid rgb(136, 0, 255);border-radius:5px;}
a.Command:visited{text-decoration:none;font-family:"Segoe UI";color:rgb(204, 255, 248);font-size:16px;padding:5px 7px;border:2px solid rgb(140, 0, 255);border-radius:5px;}
a.Command:hover{text-decoration:none;font-family:"Segoe UI";color:rgb(204, 255, 250);font-size:16px;padding:5px 7px;border:2px solid rgb(255, 0, 47);border-radius:5px;box-shadow:0px 0px 10px #FFFFFF;}
